@CHARSET "UTF-8";

.listview {
	padding: 4;
	border-collapse: collapse;
}

.listview td {
	padding: 4px;
	vertical-align: middle;
}

.listview td.top {
	vertical-align: top;
}

.listview th.right {
	text-align: right;
}

.listview tbody td.title,
.listview td.cell--title {
	padding-top: 1em;
	padding-bottom: 1em;
}

.listview tbody td.state,
.listview td.cell--is-active {
	width: 20px;
}

.listview tbody td.config,
.listview td.cell--config
.listview tbody td.usage.empty,
.listview tbody tr.empty td.cell--usage,
.listview .element-description {
	font-size: 12px;
}

.listview tbody td.usage,
.listview td.cell--usage {
	text-align: right;
	white-space: nowrap;
}

.listview tbody td.usage.empty,
.listview tr.empty .cell--usage {
	color: #808080;
	font-style: italic;
}

.listview tbody td.usage.empty + td button,
.listview tbody tr.empty .cell--clear button {
	visibility: hidden;
}

.listview td.cell--empty,
.listview td.cell--clear {
	text-align: center;
	width: 1%;
}

.listview td.cell--empty button::before,
.listview td.cell--clear button::before {
	font-family: FontAwesome;
	content: "\f014";
	margin-right: .5ex;
}

.listview .element-description {
	margin: .5em 0 0 0;
}